<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://gutinho0710.ddns.net:54321/platinum_chest
        </property>

        <property name = "hibernate.connection.username">
            pc
        </property>

        <property name = "hibernate.connection.password">
            pc2018
        </property>

        <!-- List of XML mapping files -->
        <mapping resource = "Usuario.hbm.xml"/>
        <mapping resource="Fornecedor.hbm.xml" />
        <mapping resource="Patrimonio.hbm.xml" />
    </session-factory>
</hibernate-configuration>